.bar1 {
    width: 150px;
    position: relative;
    left: 72%;
    top: 100;
    display:flex;
    flex-direction: row;
    align-items: center;

}

.command{
    overflow: auto;
    position: hidden;
    bottom: 20%;
    left: 72%;
    flex-direction: row;
    width: 40%;
    height: 80px;
    text-align: center;
}
.disp{
    background-color: black;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
    font-size: xx-large;
    width: 40ch;
    height: 40%;
    align-content: center;
    flex-direction: row;
    position: absolute;
    top:150;
    left: 500;
}
.gameover{
    font-size: xx-large;
    width: 200;
    height: 100;
    position: relative;
    bottom: 150;
    left: 580;
}